
body{
	padding-top: 50px;
}

nav{
	padding-top: 50px;
}

section{
	padding-top: 50px;
}
        ul.nav li.dropdown:hover ul.dropdown-menu {
            display: block;
        }
/*
.footer{
	background-color: #eeeeee;
}
*/