
body{
	padding-top: 50px;
}

nav{
	padding-top: 50px;
}

section{
	padding-top: 50px;
}
        ul.nav li.dropdown:hover ul.dropdown-menu {
            display: block;
        }

.affix {
position: fixed;
top: 80px;
}


@media (max-width: 767px) {
.affix{
	position: static;
	width: auto;
	top: 0;
}
}
footer {
	background-color: #ddd;
	margin-top: 20px;
	padding-top: 80px;
	padding-bottom: 40px;
	
}

@media (min-width: 992px) {
	.pull-right-lg {
		float: right;
	}
}